<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Organization">
            <!--  <h5>Form controls</h5> -->
            <small id="emailHelp" class="form-text text-muted">Please fill all details carefully.</small>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Reg. No</label>
                            <input type="email" class="form-control" id="regno" aria-describedby="emailHelp" placeholder="Registration No" />
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label>Organization Name</label>
                            <input type="text" class="form-control" placeholder="Organization Name" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">State</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                                <option>State 4</option>
                                <option>State 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="number" class="form-control" placeholder="Contact Number" />
                        </div>

                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="Username" />
                        </div>
                        <!--    <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Re. Date</label>
                            <input type="date" class="form-control" id="regDate" placeholder="RegDate" />

                        </div>
                        <div class="form-group">
                            <label>Contact Person</label>
                            <input type="text" class="form-control" placeholder="Contact Person" />
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">City</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>City 1</option>
                                <option>City 2</option>
                                <option>City 3</option>
                                <option>City 4</option>
                                <option>City 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                            <!--   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label>Alternet Number</label>
                            <input type="number" class="form-control" placeholder="Alternet Number" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                        </div>
                    </form>
                </div>
            </div>
            
          
        </app-card>
    </div>
   
</div>
